$fontJua : 'Jua', sans-serif;

main{

    display: flex;
    flex-direction: column;
    top: 0;
    z-index: -1;
    width: 100%;
    
    
    
section{
    
    overflow: hidden;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vw;
    justify-content: center;
    padding: 0 3%;
    box-shadow: inset 0px -66px 54px 10px #141414;

    .description{
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-top:20px;
                
        img{
            width: 10%;
            max-width: 50px;
            height: 4vw;
            max-height: 50px;
            margin-top: 3%;
        }

        span{
            font-size: clamp(8px,2vw,20px);
            vertical-align: 1vw;
            color: #cfc7c7;
            font-family: Helvetica;
            text-transform: uppercase;
            letter-spacing: 8px;
            font-weight: bold;
        }

        h1{
            font-family: $fontJua;
            font-size: clamp(20px, 5vw, 100px);
            width: 80%;
            margin: 5px 0 5% 0;
            line-height: 90%;
        
        }
    }


    .synopsis{
        font-size: 1.2vw;
        font-family: helvetica;
        width: 45%;
        margin-bottom: 2.5%;
        
    }

    .div-button{
        
        display: flex;
        width: 28%;
        justify-content: space-between;
        gap: 15px;

        .button-one{
            
            background-color: #ffffff;
            width: 38%;
            &:hover{
                background-color: rgb(218, 213, 213);
            }
        }
        .button-two{
            background-color: rgba(109, 109, 110, 0.7);
            color: #ffffff;
            flex: 2;
            &:hover{
                background-color: rgba(109, 109, 110, 0.5);
            }
        }

        .button-one, .button-two{
            
            border-radius: 4px;
            border: 0;
            display: flex;
            align-items: center;
            gap: 6%;
            justify-content: center;
            cursor:pointer;
            font-weight: bold;
            min-width: 90px;
            padding: 10px 5px;
            height: 5vw;
            max-height: 65px;
            

            svg{
                width: 18%;
                min-width: 15px;
                max-width: 35px;               
            }

            span{
                font-size: clamp(5px, 1.5vw, 23px);
                font-family: Helvetica;
                margin: 3% 0;
                
            }
    

           
        }
    }

}

}