
  



header{

    display: flex;
    justify-content: space-between;    
    height: 4vw;
    min-height: 50px;
    box-shadow: inset 0 4vw 60px -55px black;

    nav{
        display: flex;
        align-items: center;
        color: #e5e5e5;

        .navigate{
            position:relative;
            color: white;
            display:flex;
            justify-content:center;
    
            &::before{
                content: "navegar";
            }
    
            .hr{
                border-width: 0 0 3px 0;
            }
    
            .down{
                width: 13px;
                align-self: flex-end;
                cursor:pointer;   
            }
            .hidden{
                display: none;
            }
    
            ul{
                position: absolute;
                border-right:solid 0.5px rgb(58, 56, 56);
                border-left:solid 0.5px rgb(53, 52, 52);
                border-bottom:solid 0.5px rgb(70, 70, 70);
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                width: 250px;
                text-align: center;
                
    
                li{
                    height: 50px;
                    padding:20px 0;
                    cursor: pointer;
                    list-style: none;
                    background-color: rgba(17, 17, 17, 0.644);
                    width: 100%;
                    transition:150ms;
    
                    
                    &:hover{
                        background-color: rgba(43, 40, 40, 0.644);
                    }
                }
            }
        }

        .list{

            ul{
                display: flex;
                list-style: none;
                font-family: sans-serif;
                font-weight: 500;
                gap: 20px;
            }
            

            .hidden{
                display: none;
            }
        
            li{
                cursor: pointer;
                font-size: clamp(12px,1vw,17px);
                font-weight: 500;
        
                .active{
                    font-weight: bold;
                }

            }

            }
            
        
    }

    .nav{
        width:8%;
       min-width: 60px;
        margin:0 3% 0 5%;
    }

    .header-right{
        
        display:flex;
        align-items: center;
        font-weight: 500;
        gap: 20px;
        margin-right: 5%;
        

        .search-box{

            width: 200px;
            position: relative;
            height: 35px;
            display: flex;
        

            input{
                width: 100%;
                height: 100%;
                padding-left:35px;
                color: #FFFFFF;
                border-color: #FFFFFF;
                outline: none;
                background-color: black;
                font-size: 18px;
                
                
                &::placeholder{
                    color: #FFFFFF;
                    
                }
            }

            .flex{
                display: flex;
            }

            .hidden{
                display: none;
            }
          

            .search-icon, .close-icon{
                position: absolute;
                color: white;
                height: 35px;
                width: 28px;
            }

            

            .left{
                left: 0;
            }

            .right{
                right: 0;
                cursor: pointer;
            }
        }

        .kids{
            color: #FFFFFF;
        }

            .div-bell{
                position: relative;

                .bell-notification{
                    border-radius: 50%;
                    background-color: red;
                    width: 15px;
                    height: 15px;
                    font-size: 15px;
                    text-align: center;
                    position: absolute;
                    top:0;
                    right: 0;
                    
                }
            }
        
        
        .users{

            display: flex;
                     
            
            .img-users{
                width: 40px;
                border-radius: 10px;
            }

            .down{
                width: 25px;
                align-self: flex-end;
                transition-duration: 0.5s;
                cursor:pointer;
                
                padding: 0;
        

                &:hover{
                    transition: 0.3s;
                    transform: rotate(180deg);
                    
                }

            
            }
        }
       
    }
}

